/* fond de page */
body {
  background-color: #ccff90;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  /* pour éviter l'ascenseur */
  border: 1px solid transparent;
  box-sizing: border-box;
  font-family: "Optima", cursive,sans-serif;
  color: white;
}

/* zone de la carte & infos*/
h1 { 
  color: white;
  border: none;
  box-shadow: none;
  background-color: rgba(255,255,255,0.3);
  border-top: 3px solid rgba(255,255,255,0.6);
  border-bottom: 3px solid rgba(255,255,255,0.6);
  margin-top: 1.33em;
  text-shadow: 3px 3px 3px black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1.33em;
  padding: 10px;
  color: white;
  font-family: Arial;
  text-shadow: 1px 1px green;
}

#country_data {
  background-image: https://pixabay.com/fr/photos/la-carte-boussole-vintage-atlas-4896141/
}

h2 {
display: block;
font-style: italic;
color: black;
padding-top: 4em;
font-size: 30px
}

#left {
  min-height:545px;
}



/* positionnement des champs */
label { 
  display: block; 
  padding-bottom: 0.5em;
}
label span { 
  display: inline-block; 
  width: 5em; 
  height: 1.5em; 
}

.label {
  display: inline-block;
  width : 7em;
}

option[disabled] {
  font-style: italic;
  color: #ccc;
}
.hidden {
  display: none;
}

a.delete:hover {
  color: red;
}

#map {
  width:650px;
  height:510px;
  border: 1px solid black;
  float: right;
}



